.slider {
  width: 100%;
  height: 100%; //슬라이드 컨테이너 영역
  .slick-list {
    //슬라이드 스크린
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  & .slick-dots {
    bottom: 30px !important;
  }
}
