@import "@/styles/variables.scss";

.container {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 3;
  width: 100%;
  max-width: $sidetab-default-width;
  height: $topbar-height;
  border-bottom: 1px solid gray;
  background-color: #fff;

  & .inner {
    position: relative;
    width: 100%;
    & .col {
      display: flex;
      align-items: center;
      position: absolute;
    }

    & .leading {
      background-color: blue;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    & .main {
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & .trailing {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      > * {
        width: 40px;
        height: 40px;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
      }
    }
  }
}
