.container {
  width: 1280px;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid gray;
  position: relative;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #fff;

  > .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > .tabs {
    display: flex;
    align-items: center;
    gap: 10px;

    > .tab-icon {
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }
  }
}
