@import "@/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  max-width: $layout-max-width;
  height: $topbar-height;
  width: 100%;
  border-bottom: 1px solid gray;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 3;

  > div {
    &:nth-child(1) {
      display: flex;
    }
    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:nth-child(3).trailing {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      > * {
        width: 40px;
        height: 40px;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
      }
    }
  }
}
